{% extends "base.html" %}
{% block content %}
<div class="row">
 <!-- LEFT rail -->
 <div class="col-md-4 ps-4">
   <h1 class="section-title">Score: {{cur_score}}</h1>
   <h1 class="section-subtitle">Best Score: {{best_score}}</h1>
   <hr class="border-4 border-dark w-75">
 <!--<h1 class="section-title">Score: {{score}}</h1>-->

   <p class="fs-3"><a href="{{ url_for('make_drink', drink=drink) }}"
     class="section-subtitle">Remake</a></p>


   <p class="fs-3"><a href="{{ url_for('learn_page', page_id=1) }}"
     class="section-subtitle">Learn Again</a></p>


   <p class="fs-3"><a href="{{ url_for('quiz') }}"
     class="section-subtitle">Make a different drink</a></p>
 </div>

 <!-- RIGHT card -->
 <div class="col-md-8">
   <table class="table text-white rounded-4 overflow-hidden"
          style="background:#2d774d">
     <thead class="fs-4">
       <tr><th class="w-50 text-center">Ingredient</th>
           <th class="text-center">Amount</th></tr>
     </thead>
     <tbody class="fs-5">
      {% for ing, res in attempt.items() %}
        <tr class="text-center align-middle border-top border-white border-opacity-50">
          <td>{{ ing }}</td>
          <td>
            {{res}}
          </td>
        </tr>
      {% endfor %}
     </tbody>
   </table>
 </div>
</div>

{% endblock %}
<!-- {{ "{:.2f}".format(res.pouredAmt) }} or {{ "{:.2f}".format(res.entered) }} -->